@font-face {
    font-family: Pretendard;
    src: url('{{ site.baseurl }}/srcs/fonts/Pretendard/Pretendard-Medium.otf') format('truetype');
}

body {
    position: relative;
    font-family: Pretendard;
    background-color: black;
    color: white;
}

.default_font {
    font-family: Pretendard;
}

.center_font {
    font-family: Pretendard;
    text-align: center;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a, .pagination b {
  margin: 0 10px;
  font-family: Pretendard;
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 166, 255);
}

.pagination a:hover {
  text-decoration: underline;
}

.about_font {
    font-family: Pretendard;
    text-align: center;
    white-space: pre-line;
}

h1.center_font {
    font-family: Pretendard;
    text-align: center;
    color: rgb(0, 166, 255);
}

.game-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.game-list li {
    margin: 10px 0;
}

.game-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: color 0.2s ease;
    transition: font-size 0.2s ease;
}

.game-list a:hover {
    color: #0066ff;
    font-size: 35px;
    transition: font-size 0.2s ease;
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-links a img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s, opacity 0.3s;
}

.social-links a:hover img {
    transform: scale(1.2);
    opacity: 0.8;
}

.header {
    display: flex;
    flex-direction: column; /* 로고 위, 메뉴 아래 */
    align-items: center;
    padding-top: 20px;
}

.navBar__logo {
    text-align: center;
    margin-bottom: 10px;
}

.navBar__logo img {
    height: 80px;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: center; /* 메뉴 가운데 정렬 */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* 투명한 바 느낌 */
    padding: 10px 0;
    position: sticky; /* 스크롤 시 상단 고정 (선택사항) */
    top: 0;
    backdrop-filter: blur(6px); /* 살짝 흐림 효과 (선택사항) */
}

.navBar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-family: Pretendard;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navBar__menu li{
    color: white;
    transition: font-size 0.2s ease;
}

.navBar__menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 8px 12px;
    border-radius: 6px;
    transition: font-size 0.25s ease;
}

.navBar__menu a:hover {
    background-color: rgb(0, 166, 255);
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    transition: font-size 0.25s ease;
}
