<header class="header">
    <div class="navBar__logo">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ site.baseurl }}/srcs/logos/SG_Logo_Title_White.png" height="80">
        </a>
    </div>

    <nav class="navBar">
        <ul class="navBar__menu">
            <li><a href="/notice/">공지사항 Notice</a></li>
            <li><a href="/post/">게시글 POST</a></li>
            <li><a href="/games/">게임 Games</a></li>
            <li><a href="/contact/">연락처 Contact</a></li>
        </ul>
    </nav>
</header>
