.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}


@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@font-face {
    font-family: Pretendard;
    src: url('{{ site.baseurl }}/srcs/fonts/Pretendard/Pretendard-Medium.otf') format('truetype');
}

.markdown-body {
  font-family: 'Pretendard';
  line-height: 1.6;
  font-size: 18px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-body p {
  margin-bottom: 1em;
}

.logo {
    max-width: 300px;
    height: auto;
    width: auto;
}
