<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description }}">
    <meta property="og:image" content="{{ site.url }}{{ page.og_image | default: site.default_og_image }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <!-- Twitter (X) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | default: site.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.og_image | default: site.default_og_image }}">

    <link href="{{ '/assets/css/post.css' | relative_url }}" rel="stylesheet">
    <link rel="icon" href="/skagogames.ico" type="image/x-icon" />

    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 0);
        color: white;
      }
    </style>
  </head>

  <body>
    <header style="text-align:center; margin:30px 0;">
        <img src="{{ site.baseurl }}/srcs/logos/SG_Logo_Title_White.png" alt="Logo" class="logo">

        <h1 style="font-family:'Pretendard'; color: white;">{{ page.title }}</h1>
        {% if page.date %}
          <p style="font-family:'Pretendard'; color:yellow;">{{ page.date | date: "%Y-%m-%d" }}</p>
        {% endif %}
    </header>

    <main>
      <div class="markdown-body">
        {{ content }}
      </div>
    </main>

    <footer style="text-align:center; margin:50px 0; font-family:'Polygothic', sans-serif; font-size:14px; color:rgb(255, 255, 255);">
      SkagoGames. made in Skago.
    </footer>
  </body>
</html>
